@media screen and (max-width:992px) {
    .login-panel h1{
    font-size: 32;
    margin: auto;
    }

    .login-panel h5{
        margin: auto;
    }
    .login-panel{
        display: grid;
        place-content: center;
        align-content: center;
        height: 100vh;
        margin: 0;
    }


}

@media screen and (max-width:768px) {
    .login-panel{
        display: grid;
        place-content: center;
        align-content: center;
        height: 100vh;
        margin: 0;
    }


    .login-panel h1{
        font-size: 42;
        margin: auto;
        }

    .login-panel h5{
            color: black;
            font-size: 20;
            margin: auto;
            font-weight:700;
        }
    
        .btn1 button{
            display: flex;
            justify-content:center ;


        }
    

}